
/*BODY*/
body{
    margin: 0;
}

/*GRID MAIN*/
main{
    display: grid;
    height: 100vh;
    grid-gap: 5px;
    grid-template-columns:
        [col-1-start]1fr
        [col-1-end col-2-start]1fr
        [col-2-end col-3-start]1fr;
    
    grid-template-rows: 
        [row-1-start]1fr
        [row-1-end row-2-start]1fr
        [row-2-end row-3-start]1fr 
        [row-3-end row-4-start]1fr 
        [row-4-end row-5-start]1fr 
        [row-5-end row-6-start]1fr 
        [row-6-end row-7-start]1fr
        [row-7-end];
}

/*APLICACION A TODOS LOS DIV*/
div{
    display: flex;
    background-color: goldenrod;
    align-items: center;
    justify-content: center;
}

.conteiner-chalala{
    grid-column: col-1-start / col-1-end;
    grid-row: row-2-start / row-8-end;
    background-color: brown;
}